<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaxiexiyan.erp.infrastructure.repository.mapper.CatUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huaxiexiyan.erp.domain.CatUser">
        <id column="id" property="id"/>
        <result column="parent_id" property="username"/>
        <result column="name" property="password"/>
        <result column="describe" property="nickname"/>

        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_modify_by" property="lastModifyBy"/>
        <result column="last_modify_time" property="lastModifyTime"/>
        <result column="deleted_by" property="deletedBy"/>
        <result column="deleted_time" property="deletedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, describe, active_status, c_by, c_time, lm_by, lm_time, de_by, de_time
    </sql>

</mapper>
